{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tweets/style.css' %}" />
<div class="container">

<div class-="title">
	<h2>Send a tweet</h2>
</div>

<form action="{% url 'tweets:sendTweet' %}" method="post">
{% csrf_token %}
  <label>Twitter_Id  </label><input id="t_id" name="t_id" type="text" value="" required>
  <br>
  <label>Tweet Text  </label><input id="t_text" name="t_text" type="text" value=""  size="140" required>
  <br> 
  <input type="submit" value="Submit">
</form> 

<h2><a href="{% url 'tweets:index' %}">Home</a></h2>
</div>